@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card" style="margin-top: 50px; padding: 20px;">
                <div class="card-content center-align">
                    <i class="material-icons large green-text">check_circle</i>
                    <h5>Password Reset Successful</h5>
                    <p>Your password has been reset. You can now log in with your new password.</p>
                    <br />
                    <a asp-page="./Login" class="btn waves-effect waves-light blue-grey darken-1">
                        Login <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
